*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-color: #E0CAA5;
    height: fit-content;
}

#contenedor{
    width: 100%;
    height: fit-content;
    background-color: #E0CAA5;
}

#encabezado{
    background-color: #0C221E;
    color: #acc2c2;
    font-weight: bold;
}
.titulo{
    padding-top: 12px;
}

#encabezado h1{
    font-size: 34px;
    color: rgb(174, 179, 175,);
    margin-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#encabezado h3{
    font-size: 32px;
    color:rgb(174, 179, 175, 0.7);
    padding-bottom: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#seccion{
    background-color: #225B4F;
}

#seccion h4{
    font-size: 28px;
    color: rgb(24, 29, 25);
    padding-top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#seccion label{
    font-size: 24px;
    color: rgb(158, 158, 158);
    
}



#pie{
    background-color: #E0CAA5;
}

#pie h5{
    font-size: 20px;
    font-weight: bold;
    color: #666;
    line-height: 1.5;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pie p{
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pie small{
    font-size: 12px;
    color: #666;
    line-height: 1.5;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#mapa {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 400px; 
    width: 100%; 
}

#botones{
    margin-top: 24px;
    padding: 50px, 0px, 50px, 0px;
    width: 140px;
    height: 60px;
    position: relative;
}
#btnLLegar, #btnCancelar{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#Destinos {
    background: linear-gradient(-45deg, #0c2635, #19071d, #464444, #000);
    background-size: 1000% 1000%;
    animation: gradient 7s ease infinite;
    max-width: 190px;
    height: auto; /* Cambiado a 'auto' */
    padding: 10px;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #4ba595;
    margin-right: 12px;
    color: #acc2c2; 
  }
  
  #Destinos:focus {
    color: #177D6C;
    background-color: #212121;
    outline-color: #177D6C;
    box-shadow: -3px -3px 15px #177D6C;
    transition: .1s;
    transition-property: box-shadow;
  }

  button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 12px;
    color: #E0CAA5;
    border: 2px solid #E0CAA5;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #E0CAA5;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  button:hover::before {
    scale: 3;
  }
  
  button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(224, 202, 165,0.4);
  }
  
  button:active {
    scale: 1;
  }
  
  .Info {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    background-color: #E0CAA5;
}

.Info h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.Info img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.Info p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.leaflet-routing-container {
    max-width: 100%;
}

.leaflet-routing-container .leaflet-routing-alt {
    width: 100%; /* Ajusta al contenedor */
    overflow-x: auto; /* Permite desplazamiento horizontal en pantallas pequeñas */
}

.leaflet-routing-alt table {
    width: 100%; /* Asegura que la tabla use todo el ancho disponible */
    max-width: 100%; /* Evita que la tabla se desborde de su contenedor */
}

.leaflet-routing-container{
    color: #0C221E;
}


@media (max-width: 768px) {
    .leaflet-routing-alt table, .leaflet-routing-alt td, .leaflet-routing-alt th {
        font-size: 12px; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }
    /* Ajustes adicionales para mejorar el diseño en dispositivos móviles */

    .leaflet-routing-container{
        
       
        max-width: 30%;
         height: 100%;
    }
}
